.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2rem + 2vmin);
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

button {
  border: none;
  background-color: transparent;
}

button:hover img {
  transform: scale(1.25);
}

@media only screen and (max-width: 600px) {
  button img {
    max-height: 11vh;
  }

  button:hover img {
    transform: none;
  }
}
